@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root {
    --primary-color: #103b66;
    --secondary-color: #028688;
    --accent1-color: #70ac92;
    --accent2-color: #acefb3;
 
    --heading-font: "Rock Salt", cursive;
    --paragraph-font: "roboto", serif;
 
    --nav-background-color: #103b66;
    --nav-link-color: #c7f9cc;
    --nav-hover-link-color: #57cc99;
    --nav-hover-background-color: #38a3a5;
}
 
body {
    font-family: var(--paragraph-font);
    background-color: #f3f2e1;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
 
h1 {
    font-size: 3rem;
}
 
h2 {
    font-size: 2.5rem;
}
 
 
p {
    padding: 10px;
}
 
img {
    width: 100%;
}
 
header img {
    width: 100px;
    display: flex;
    justify-items: center;
    border-radius: 50px;
}
 
/* Sets default width and centers content in browser */
header main footer {
    max-width: 1280px;
    margin: auto;
}
 
/* header styling */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    background-color: var(--primary-color);
 
}
 
/*h1 article {
    width: 20rem;
    text-align: center;
    position: absolute;
}*/
 
 
/* grid layout for all pages */
/*.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}*/
 
/* hero image styling */
.hero {
    position: relative;
}
 
.hero>img {
    display: block;
    width: 100%;
}
 
footer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 1rem;
    background-color: var(--primary-color);
    margin-top: 100px;
    align-items: center;
}
 
footer a {
    text-decoration: none;
    color: #fff;
    justify-self: center;
}
 
/* Footer Styling */
footer p {
    color: #fff;
    font-size: 15px;
    align-self: center;
}
 
 
nav {
    display: flex;
    font-family: var(--heading-font);
    text-decoration: none;
    justify-content: space-around;
    gap: 20px;
}
 
nav a {
    display: flex;
    padding: 30px;
    margin: 0;
    font-family: var(--paragraph-font);
    font-weight: 300;
    color: #fcf7de;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}
 
 
nav a:hover {
    background-color: #fcf7de;
    color: #484029;
}
 
.abs-heading1 {
    position: absolute;
    background-color: rgba(28, 28, 29, 0.568);
    top: 10px;
    width: 100%;
    font-family: var(--heading-font);
    text-align: center;
    color: #fcf7de;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
 
.abs-article {
    background-color: rgba(12, 2, 43, 0.708);
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    align-content: center;
}
 
.abs-article img {
    float: right;
    margin: 50px;
    width: 300px;
   
}
 
 
.abs-article p {
    font-family: var(--paragraph-font);
    font-weight: 400;
    color: #fcf7de;
    text-shadow: -1.5px -1.5px 0 #000, -1.5px -1.5px 0 #000;
    font-size: 17px;
    text-align: center;
    margin: 60px;
}
 
/* Social media link styling */
.sociallinks {
    display: flex;
    gap: 1rem;
    justify-self: right;
}
 
.sociallinks img {
    width: 2rem;
}
 
.sociallinks a:hover {
    /* This removes the background color from the nav a:hover rule for the social links in the footer. */
    background-color: unset;
}
 
.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
    margin: 50px 0;
}
 
.history-section {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    text-align: justify;
}
 
.history p {
    font-size: 18px;
}
 
.history-img {
    grid-column: 2 / 3;
    grid-row: 2;
    width: 100%;
}
 
.history-section p:first-of-type {
    grid-column: 1 / 2;
    grid-row: 2;
    padding: 0 20px;
}
 
.history-section p:last-of-type {
    grid-column: 3 / 4;
    grid-row: 2;
    padding: 0 20px;
}
 
.history section>h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    padding-bottom: 1rem;
}
 
.adventures {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 0.5fr);
    gap: 0.5rem;
    place-items: center;
}
 
.adventures h2 {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 1em 0;
}
 
.history h2 {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 1em 0;
}
 
.adventures figure:nth-of-type(odd) {
    background-color: var(--accent1-color);
    color: var(--nav-link-color);
    align-self: center;
}
 
.adventures figure:nth-of-type(even) {
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
    align-self: center;
}
 
.adventures figcaption {
    text-align: center;
    color: #051a2e;
    padding: 10px 0;
    font-family: var(--paragraph-font);
    font-size: 15px;
    font-weight: 800;
}
 
.adventures figure img {
    width: 200px;
}
 
.adventures figure {
    padding: 10px;
}
 
.contacting {
    display: flex;
    justify-content: space-around;
    justify-items: left;
}
 
.contacting p {
    font-size: 20px;
}
 
.contact h2 {
    font-family: var(--paragraph-font);
    color: #103b66;
    font-weight: 500;
    font-size: 20px;
}
 
.form {
    border: 1px solid #000;
    display: flex;
    margin: 0;
    height: 845px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 30px;
}
 
/* There was a change above */
 
.form-fields {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}
 
.form-fields button {
    width: 220px;
    margin-top: 10px;
}
 
.info {
    background-color: #103b667d;
    border-radius: 10px;
    margin-bottom: 10px;
}
 
.form input {
    padding: 5px;
}
 
.form input[type="text"] {
    padding: 22px;
    width: 100%;
}
 
 
label,
div {
    text-align: left;
    margin-top: 20px;
}
 
.form>div {
    margin: 5px 0;
}
 
textarea {
    padding: 50px;
}
 
.form input[type="radio"] {
    justify-content: left;
}
 
button {
    background-color: rgb(2, 2, 81);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 15px;
}
 
button:hover {
    background-color: darkgreen;
}
 
iframe {
    border: 1px solid #000;
    border-radius: 5px;
    width: 500px;
    height: 450px;
    margin: 15px auto;
}
 
/* There was a change above */
 
.employee {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100px;
    border-radius: 10px;
    color: #fff;
    justify-items: center;
    bottom: 70px;
    left: 50px;
}
 
.employee figure img {
    width: 125px;
    height: 100px;
    display: grid;
}
 
.employee figure figcaption {
    background-color: #103b66;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 500;
}
 
.subscribe {
    margin-top: 20px;
    margin-bottom: 5px;
}
 
 
.column1 {
    width: 40%;
}
 
.column2 {
    position: relative;
    width: 40%;
}

.trips-table {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em 5px;
    margin: 50px auto;
    grid-column: 1/-1;
    grid-row: 2/4;
}

.trips-table h2 {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
}

.duration {
    grid-column: 1;
}

.cost {
    grid-column: 2;
}

.details {
    grid-column: 3;
}

.duration-heading,
.cost-heading,
.details-heading {
    text-align: center;
    font-weight: 700;
    font-family: var(--paragraph-font);
    font-size: 20px;
    letter-spacing: 1px;
    background-color:rgba(28, 28, 29, 0.709);
}

.trips-table p {
    font-family: var(--paragraph-font);
    font-weight: 300;
    color: #fff;
}

.cost:nth-of-type(even),
.duration:nth-of-type(odd),
.details:nth-of-type(odd) {
    background-color: #051a2e;
}

.cost:nth-of-type(odd),
.duration:nth-of-type(even),
.details:nth-of-type(even) {
    background-color: #103b66;
}

.trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 71.5px;
    grid-column: 1/6;
}

.trips-figure img {
    width: 400px;
    height: 250px;
    display: grid;
}
 
.trips-figure figcaption {
    background-color: #103b66;
    text-align: center;
    color: #ffffff;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 500;
}

.raft-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.hero-grid {
    grid-column: 1/13;
    position: relative;
}

.hero-jpg {
    display: block;
    width: 100%;
    grid-row: 1/9;
    grid-column: 1/13;
}
.Home-message1 {
    position: absolute;
    background-color: rgba(28, 28, 29, 0.568);
    top: 300px;
    width: 100%;
    font-family: var(--heading-font);
    text-align: center;
    color: #fcf7de;
    font-size: 60px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Home-message2 {
    position: absolute;
    top: 500px;
    width: 100%;
    font-family: var(--paragraph-font);
    text-align: center;
    color: #fcf7de;
    font-size: 40px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card {
    margin: 100px 0;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    font-weight: 700;
    font-size: medium;
    box-shadow: 5px 5px 10px #6f7364;

}

.trips-photo1 {
    grid-column: 2 / 4;
    grid-row: 2;
}

.trips-photo2 {
    grid-column: 6/8;
    grid-row: 2;
}

.trips-photo3 {
    grid-column: 10/12;
    grid-row: 2;
}

.photo {
    border: 10px solid #051a2e;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    margin: 20px 0;
}

.hustle-content {
    grid-column: 7/12;
    grid-row: 5/7;
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.hustle-content-wrap {
    display: grid;
    justify-items: center;
}

.hustle-group-title {
    text-align: center;
    font-family: var(--paragraph-font);
    color: #fff;
    font-size: 35px;
    line-height: 200%;
    font-weight: 700;
    font-style: bold;
    
}

.hustle-title {
    border-bottom: 1px solid #fff;
    align-self: center;
    margin-bottom: 70px;
}

.hustle-subtitle {
    font-size: 50px;
}

.text1 {
    text-align: center;
    font-family: var(--paragraph-font);
    color: #fff;
    font-size: 35px;
    line-height: 100%;
    font-weight: 300;
}

.text2 {
    text-align: center;
    font-family: var(--paragraph-font);
    color: #fff;
    font-size: 25px;
    line-height: 100%;
    font-weight: 300;  
    font-style: italic;
}

.river {
    background-color: var(--secondary-color);
    height: 700px;
    grid-column: 1/13;
    grid-row: 3/9;
}

.button-box {
    background-color: var(--accent2-color);
    font-size: 1.25em;
    font-family: var(--paragraph-font);
    color: #051a2e;
    border-radius: 20px;
    padding: 1em;
    justify-self: center;
    align-self: center;
    min-width: 10rem;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 3px 3px 3px var(--primary-color);
}

.button-box:hover {
    background-color: var(--nav-hover-link-color);
}

.News {
    grid-column: 4/9;
    grid-row: 9/11;
    justify-self: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.news-form {
    display: flex;
    flex-direction: column;
    background-color: var(--accent1-color);
    color: var(--white);
    margin: 1em 0;
    padding: 1em 0;
}

.News p {
    justify-self: center;
    font-size: 1.5em;
    color: var(--black);
    margin: 1em 0 0 0;
}

.news-form .Signup-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin: 1em;
    align-items: center;
}

.news-form label {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    color: var(--white);
    margin: 0;
}

.news-form input {
    grid-column: 2;
    grid-row: 1;
}

.news-form button {
    background-color: var(--button-color);
    padding: .5em 1em
}

.newsletter-form button:hover {
    background-color: var(--button-color-hover);
}